<!DOCTYPE html>
<html>
	<head>
		<title>Beateq</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css"></link>
    <link rel="stylesheet" type="text/css" href="../bower_components/normalize.css/normalize.css"></link>
    <link rel="stylesheet" type="text/css" href="../bower_components/normalize.css/normalize.css"></link>
	</head>
	<body>
    <div class="row">
      <div class="col-md-12">fdsfds</div>
    </div> 
    
	</body>
</html>