<!DOCTYPE html>
<html>

<head>
  <title>Beateq</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
 
  <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/front.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="/js/front.js"></script>
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="col-md-12 header">
    <img src="img/beateq_icon.jpg" class="logo">
  </div>
  <div class="create">
    <h1>Get the right music for your party</h1>
    <h3>It's time to collaborate on the music experience</h3>
    <div class="create-playlist">
      <input type="text" class="name-input" placeholder="Playlist name">
      <button class="btn btn-lg btn-warning mr-lg create-button">Create Playlist</button>
    </div>
  </div>
</body>

</html>
