<!DOCTYPE html>
<html>

<head>
  <title>Beateq</title>
  <link rel="stylesheet" type="text/css" href="/../libs/normalize.css/normalize.css"></link>
  <link rel="stylesheet" type="text/css" href="/../libs/bootstrap/dist/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="/../libs/components-font-awesome/css/font-awesome.css"></link>
  <link rel="stylesheet" type="text/css" href="/../css/main.css"></link>
  <link rel="stylesheet" type="text/css" href="/../css/player.css"></link>
  <link rel="stylesheet" type="text/css" href="/../css/custom-slider.css"></link>
  <script src="/../libs/lodash/lodash.min.js"></script>
  <script src="/../libs/jquery/dist/jquery.min.js"></script>
  <script src="/../libs/jquery-ui/jquery-ui.min.js"></script>
  <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
  <script src="/../js/player.js"></script>
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="content-wrapper">
    <div class="col-md-12 header">
      <h1></h1>
      <img src="../img/beateq_icon.jpg" class="logo">
      <a href="http://www.soundcloud.com">
        <img src="../img/soundcloud.png" class="soundcloud">
      </a>      
    </div>

    <div class="main">
      <div class="eq-left"></div>
      <div class="player-container">
        <div class="player-space"></div>
        <div class="player">
          <div class="playlist">
            <div class="playlist-scroll">              
              <!--
              <div class="song-item active" id="123456">
                <img src="/../img/album_art.png" alt="album art" class="album-art">
                <div class="des">
                  <p class="title">Angels</p>
                  <p class="artist">The XX</p>
                </div>
                <i class="fa fa-close close"></i>
              </div>
              -->                   
            </div>
          </div>
          <div class="controls">
            <div class="playing-info">
              <img src="../img/art_default.jpg" alt="album art" class="album-art">
              <div class="playing-des">
                <p class="current-title">No songs playing</p>
                <p class="current-artist"></p>
              </div>
            </div>
            <div class="playing-controls">
              <div class="controls-main pull-left">
                <i class="fa fa-backward backward"></i>
                <i class="fa fa-pause play"></i>
                <i class="fa fa-forward forward"></i>
              </div>
              <div class="duration-slider pull-left v-center"></div>
              <p class="time">--.--/--.--</p>
              <i class="fa fa-volume-down volume"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="eq-right"></div>
      <div class="search">
        <div class="input-group search-box">
          <input type="text" class="form-control search-input" placeholder="Search">
          <span class="input-group-btn search-button">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <div class="divider">
          <p>Songs</p>
        </div>
        <div class="search-container">
          <!--
          <div class="search-song-item">
            <img src="/../img/album_art.png" alt="album art" class="album-art">
            <div class="des">
              <p class="title">Angels</p>
              <p class="artist">The XX</p>
            </div>
          </div>
          -->
        </div>
        <div class="divider divider-playlist">
          <p>Playlists</p>
        </div>
        <div class="container-playlist">
          <!--
          <div class="search-playlist-item">
            <img src="/../img/album_art.png" alt="album art" class="album-art">
            <div class="playlist-info">
              <p class="playlist-title">Vivian's Playlist</p>
              <p class="playlist-creator">Vivian</p>
              <p class="playlist-listens">143 Listens</p>
            </div>
          </div>
        -->
        </div>
      </div>
    </div>
  </div>

</body>

</html>
