<!DOCTYPE html>
<html>

<head>
  <title>Beateq</title>
  <link rel="stylesheet" type="text/css" href="../libs/normalize.css/normalize.css"></link>
  <link rel="stylesheet" type="text/css" href="../libs/bootstrap/dist/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="../libs/components-font-awesome/css/font-awesome.css"></link>
  <link rel="stylesheet" type="text/css" href="../css/main.css"></link>
  <link rel="stylesheet" type="text/css" href="../css/player.css"></link>
  <link rel="stylesheet" type="text/css" href="../css/custom-slider.css"></link>
  <script src="../libs/jquery/dist/jquery.min.js"></script>
  <script src="../libs/jquery-ui/jquery-ui.min.js"></script>
  <script src="../libs/jquery-ui/jquery-ui.min.js"></script>
  <script src="../js/player.js"></script>
</head>

<body>
  <div class="content-wrapper">
    <div class="col-md-12 header">
      <img src="../img/beateq_icon.jpg" class="logo">
    </div>

    <div class="main">
      <div class="eq-left"></div>
      <div class="player-container">
        <div class="player-space"></div>
        <div class="player">
          <div class="playlist"></div>
          <div class="controls">
            <div class="playing-info">
              <img src="../img/album_art.png" alt="album art" class="album-art">
              <div class="playing-des">
                <p class="current-title">Angels</p>
                <p class="current-artist">The XX</p>
              </div>
            </div>
            <div class="playing-controls">
              <div class="controls-main pull-left">
                <i class="fa fa-backward backward"></i>
                <i class="fa fa-play play"></i>
                <i class="fa fa-forward forward"></i>
              </div>
              <div class="duration-slider pull-left v-center"></div>
              <p class="time">--.--/--.--</p>
              <i class="fa fa-volume-down volume"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="eq-right"></div>
      <div class="search">
        <div class="input-group search-box">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
