<!DOCTYPE html>
<html>

<head>
  <title>Beateq</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
 
  <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/null_playlist.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="col-md-12 header">
    <img src="../img/beateq_icon.jpg" class="logo">
  </div>
  <div class="not-playlist">
    <p>This playlist doesn't exist :/</p>
  </div>
</body>

</html>
